<div class="card">
  <div class="card-header border-0">
    <h3 class="card-title">Edit User - <%= @user.name %></h3>
    <div class="card-tools">
      <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_user_path, class: "btn btn-tool btn-sm" %>
    </div>
  </div>
  <div class="card-body table-responsive ">
    <%= render 'form', user: @user %>
  </div>
</div>
<!-- /.card -->